.desktop {
  #gpt-ad-atf-mpu {
    width: 300px;
    margin-right: 7px;
    & > iframe {
      display: block;
    }
    @include breakpoint(mobile) {
      position: static!important;
      margin: 0 auto;
    }
  }
}
#gpt-ad-atf-mpu.dw-sticked {
  iframe {
    margin-bottom: 0;
  }
}
