// DW-STICKY
.desktop {
  .takeover-ad--top, .ad-above-fold-LB {
    //overflow: visible;
    #ad-above-fold-LB-holder.dw-sticky, #ad-top-holder.dw-sticky {
      z-index: 1000;  
      width: 100%;
      iframe {
        margin: 0 auto;
      }
    }
  }
}
// eof dw-sticky
