.desktop {
  #ad-above-fold-MPU-holder {
    width: 300px;
    margin-right: 7px;
    & > iframe {
      display: block;
    }
    @include breakpoint(mobile) {
      position: static!important;
      margin: 0 auto;
    }
  }
}
#ad-above-fold-MPU-holder.dw-sticked {
  & > iframe {
    margin-bottom: 0;
  }
}
